<!DOCTYPE html>
<app-navbar></app-navbar>

<div *ngIf="user" class="user-profile">
  <!-- User Information section -->
  <div class="profile-section">
    <h2>User Information</h2>
    <div *ngIf="!isEditing">
      <p><strong>Username:</strong> {{ user.Username }}</p>
      <p><strong>Email:</strong> {{ user.Email }}</p>
      <p><strong>Birthday:</strong> {{ user.Birthday | date }}</p>
      <button mat-raised-button color="primary" (click)="toggleEdit()">Edit</button>
    </div>
    <div *ngIf="isEditing">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="updatedUserData.Username" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="updatedUserData.Email" type="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Birthday</mat-label>
        <input matInput [(ngModel)]="updatedUserData.Birthday" type="date">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="updateUserData()">Save</button>
      <button mat-raised-button color="warn" (click)="toggleEdit()">Cancel</button>
    </div>
  </div>

  <!-- Favorite Movies section -->
  <div class="profile-section">
    <h2>Favorite Movies</h2>
    <div *ngIf="favoriteMovies.length > 0; else noFavorites" class="scrollable-list">
      <div *ngFor="let movie of favoriteMovies" class="favorite-movie">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar>
              <img [src]="movie.ImageUrl" [alt]="movie.Title">
            </div>
            <mat-card-title>{{ movie.Title }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <!-- Add your action buttons here -->
            <button mat-icon-button color="warn" (click)="removeFromFavorites(movie._id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <ng-template #noFavorites>
      <p>No favorite movies found.</p>
    </ng-template>
  </div>

  <!-- Delete Account section -->
  <div class="profile-section">
    <h2>Delete Account</h2>
    <p>Deleting your account is permanent. Are you sure you want to proceed?</p>
    <button mat-raised-button color="warn" (click)="deleteUser()">Delete Account</button>
  </div>
</div>
