.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.profile-sections-container {
  display: flex;
  justify-content: space-between; /* Adjusted to space-between to add more space between sections */
  gap: 40px; /* Adjusted to 40px for more space */
}

.profile-section {
  flex: 1;
  max-width: 400px;
}

.profile-section.user-information {
  order: 1;
}

.profile-section.delete-account {
  order: 2;
}

.profile-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-section form mat-form-field {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.profile-section form .button-container {
  display: flex;
  justify-content: center; /* Adjusted to center the buttons */
  width: 100%;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container .movie-card {
  width: 300px;
  margin: 10px;
}

.movie-container .movie-card mat-card {
  width: 100%;
}

.movie-container .movie-card mat-card-header {
  justify-content: center;
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.movie-container .movie-card mat-card-title {
  text-align: center;
}

.movie-container .movie-card mat-card-actions {
  justify-content: center;
}

.movie-container .movie-card img {
  width: 100%;
  height: auto;
}

.user-section-text{
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-container button {
  margin: 0 5px; /* Adjust the amount of space by changing the value (e.g., 5px) */
}

.user-profile .movie-container {
  display: flex;
  justify-content: center;
}
